# chapter 1

In [65]:
2+2

4

In [66]:
(5-1)*((7+1)/(4+3))

4.571428571428571

In [68]:
spam = 40

In [69]:
spam

40

### question 1

In [22]:
a = 'hello'
b = -88.8
c = 5

'hello', -88.8, 5 are values 
'hello' is 'str' value
-88.8 is 'float'
5 is 'int'

+, -, / and * are operators

'str' stands for the type to store strings, 'int' stands for integer, 'float' stands for floating point numbers.

In [20]:
a + b #for example, a+b is an expression, a and b are values, + is the operator

TypeError: can only concatenate str (not "float") to str

In [7]:
a-b

TypeError: unsupported operand type(s) for -: 'str' and 'float'

In [8]:
a*b

TypeError: can't multiply sequence by non-int of type 'float'

In [9]:
a/b

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [3]:
a +c

TypeError: can only concatenate str (not "int") to str

In [4]:
a-c

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [5]:
a/c

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [6]:
a*c

'hellohellohellohellohello'

In [10]:
b+c

-83.8

In [11]:
b-c

-93.8

In [13]:
b*c

-444.0

In [14]:
b/c

-17.759999999999998

In [15]:
a+a

'hellohello'

In [16]:
a-a

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [17]:
a/a

TypeError: unsupported operand type(s) for /: 'str' and 'str'

Based on the practices, the variables 'str' can only multiply with 'int', but cannot interact with 'int' or 'float' in other methods of interations. Besides 'str' can run additive opertion with itself, or with another 'str'.

## question 2

spam is a variable
'spam' is a string 
the method of using variable as following

spam = 5

## question 3

'str' 'int' 'float'

## question 4

for example, 1 + 5 is an expression, which sums up value of 1 and 5
1 and 5 are values while + is the operator, based on the example all expressions are made up of values and operators, which can operating to a single value

## question 5

expression leads to a certain value after operation between values, while a statement only functions as a representative of variables

## question 6

In [21]:
bacon = 20
print(bacon+1)
print(bacon)

21
20

## question 7

In [26]:
'spam'+'spamspam'

'spamspamspam'

In [27]:
'spam'*3

'spamspamspam'

## question 8

100 is a integer value that stands for certain value, variable names cannot start with a number

## question 9

int(), float(), and str()

In [31]:
int(7.7)

7

In [32]:
float(8)

8.0

In [33]:
str(8)

'8'

## question 10

99 is a number that cannot be used for additive operation with strings

In [37]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

## evaluation and reflection

In the first chapter was fairly easy and straight forward for basic components that required to know in the programming. During the process of trying through examples of expressions and interactions, basic operation methods can be successfully achieved by following examples on the book. However, for operations of numeric calculation can only be used between numbers while two exceptions have been considered. Firstly the additive operator can be used with effect of connecting two strings. While on the hand strings can be multiplied by integers (‘int’) which connect n*times of strings together. Besides expression cannot assign values to the variables inside of the expression. 
Additionally, while claiming statements, it can assign a certain type of variables as well as a certain value.

# chapter 2

## question 1

True and False

## question 2

and, or, not

## question 3

In [41]:
True and False

False

In [44]:
True and True

True

In [42]:
True or False

True

In [45]:
True or True

True

In [43]:
not True

False

In [46]:
not False

True

## question 4

In [47]:
(5 > 4) and (3 == 5)

False

In [51]:
not (5 > 4)

False

In [52]:
(5 > 4) or (3 == 5)

True

In [53]:
not ((5 > 4) or (3 == 5))

False

In [54]:
(True and True) and (True == False)

False

In [55]:
(not False) or (not True)

True

## question 5

==, !=, >, <, >=, <=

## question 6

== stands for the Boolean operation which compares two values, while = stands for a variable that stores value

## question 7

condition is an expression for evaluating the Boolean value

## question 8

1st block:
 print('eggs')
    if spam > 5:
        print('bacon')
    else:
        print('ham')
    print('spam')
    
2nd block:
 print('bacon')
 
3rd block:
 print('ham')

## question 9

In [ ]:
if spam == 1:
    prin

## question 10

control + c

## question 11

In [63]:
a = 0
while a < 5:
    a +=1
    if a == 2:
        continue
    print(a)
    if a == 4:
        break

1
3
4

## question 12

There are no differences between them in the results.

In [73]:
range(10)==range(0,10)

True

In [74]:
range(10)==range(0,10,1)

True

## question 13

In [57]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [60]:
i =0
while i <10:
    i = i +1
    print(i)

1
2
3
4
5
6
7
8
9
10

## question 14

spam.bacon()

## evaluation and reflection

With evaluative expressions that conclude in this chapter, more complicated functions can be created with flow control that enables loop. However one of the most issue that happened during the practice is to distinguish the difference between ‘=’ and ‘==’. While ‘=’ represents for assign a value to a variable, it is easy to mix the different meaning with ‘==’ which functions as a judgement that comparing between different variable or values. 
Another aspect that I found influenced my results of code substantially is the priority of the Boolean operator needs to be considered carefully while using the operators combined. In several attempts of combining multiple comparing conditions and variables together, it was easy for me to make mistakes on the priority of sub-conditions’ Boolean operations. Meanwhile the range() function can only generate integer, thus the range is unable to create accumulated float number due to its limitation on integers.

# chapter 3

## question 1

Functions reduces duplication of the code, while providing a direct operation to the variables.

## question 2

while the function is called the function execute.

## question 3

def statement creates a function

In [81]:
def sumup(a,b):
    return a+b

## question 4

A function contains the def statements and the operation within it, while function call stands for the program execution of the function's end value.

In [82]:
def sumup(a,b):# function
    return a+b
sumup(1,3) # function call

4

## question 5

One global scope, the number of local scope depends on the number of def functions.

## question 6

while function call returns the local scope is lost with its variables all forgotten.

In [86]:
def sumup(loc_a,loc_b):
    return loc_a+loc_b
sumup(1,3)

4

In [87]:
print(loc_a)

NameError: name 'loc_a' is not defined

## question 7

A return value is a value that resulted from the evaluations from the global scope's function calls, and return value can be a part of expression.

In [89]:
4 + sumup(1,3)# sumup(1,3) here is the return value

8

## question 8

The return value is None.

In [91]:
def return_none(e,f):
    print(e+f)
print(return_none(1,2))

3
None

## question 9

Do not define the local varaibel with smae name with global variables when claiming a statement.

In [78]:
a = 10
def sumup(a,b):
    return a+b
sumup(1,3)

4

In [79]:
def sumup_a(b):
    return a+b
sumup_a(3)

13

## question 10

Nonetype

In [77]:
type(None)

NoneType

## question 11

it imports all the module from areallyourpetsnamederic

## question 12

spam.bacon()

## question 13

use try

In [93]:
for i in range(3):
    try:
        print(3/i)
    except:
        print('you try to devide 3 by zero')

you try to devide 3 by zero
3.0
1.5

## question 14

with error appears, the excutions referes to except cause, while others jump to try cause

## evaluation and reflection

With the helping of functions, the efficiency of the code can be largely improved since lots of executions can be replaced with functions. During the process of practicing with functions, one of the major problem that I found myself mostly occured is to check the name of varaibles, both in local and global very carefully. Usually same name may be used in different local scopes, while they refering to different variables. Local variables may have same name with global variables, however it is needed that the local varaibles refered in the statement claim, otherwise it may cause mistakes of name referring. Thus it is important to notice not using the same variables' names between local and global scopes.

# chapter 4

## question 1

[] is an empty list with no element.

In [94]:
len([])

0

## question 2

the index starts from 0 thus the 3rd index is 2.

In [95]:
spam = [2,4,6,8,10]
spam

[2, 4, 6, 8, 10]

In [96]:
spam[2] = 'hello'

In [97]:
spam

[2, 4, 'hello', 8, 10]

## question 3

In [98]:
spam[int(int('3' * 2) // 11)]

8

int() here converts 'str' to 'int', // here will only keep the integer part of the result. For example,

In [104]:
print(32//11)

2

In [105]:
print(32/11)

2.909090909090909

## question 4-5

In [108]:
print(spam[-1])
print(spam[-2])

10
8

In [112]:
spam[:2]

[2, 4]

## question 6-8

In [116]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon

[3.14, 'cat', 11, 'cat', True]

In [117]:
bacon.index('cat')

1

In [118]:
bacon.append(99)

In [119]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [120]:
bacon.remove('cat')

In [121]:
bacon

[3.14, 11, 'cat', True, 99]

'remove' function only removes the first value of cat

## question 9

the operator for list concentration is '+' and for list replication is '*'

## question 10

insert() can be added anywhere while append() only added in the end of list

## question 11

remove() and del statement

## question 12

string and list both have certain len(), which certain element can be looped

In [122]:
for i in 'abc':
    print(i)

a
b
c

In [123]:
for i in ['a','b','c']:
    print(i)

a
b
c

## question 13

Lists can be edited with values changed, while tuples cannot be changed for the values

## question 14

In [124]:
(42,)

(42,)

## question 15

In [125]:
tuple(spam)

(2, 4, 'hello', 8, 10)

## question 16

references to the list values

## question 17

In [134]:
import copy

In [194]:
a = [1,2,3,4]
b = a
b_c = copy.copy(a)
print(a,b,b_c)

[1, 2, 3, 4] [1, 2, 3, 4] [1, 2, 3, 4]

In [195]:
print(b == a, b_c == a)

True True

In [196]:
print(b is a,b_c is a)

True False

In [197]:
a.append(5)
print(a,b,b_c)
print(a == b, a== b_c)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5] [1, 2, 3, 4]
True False

In [198]:
c = ['a',['b','c']]
e = copy.copy(c)
f = copy.deepcopy(c)
print(c,e,f)
print(c == e, c==f)
print(c is e, c is f)

['a', ['b', 'c']] ['a', ['b', 'c']] ['a', ['b', 'c']]
True True
False False

In [193]:
c[1][1] = 1
print(c,e,f)
print(c == e, c==f)

['a', ['b', 1]] ['a', ['b', 1]] ['a', ['b', 'c']]
True False

1. for a one dimension list, if not use copy.copy() while just simply assign one variable's value to anonther, when chaging the element inside the list, the other element will change as well. However if use copy.copy() the other variable would change with one that assign values to it. 
2. for multi-dimension list, if not use copy.deepcopy() at deeper dimension, it will have the same result as what happend while simply assign one variable to another without using copy.copy()

## evaluation and reflection

During the process of practicing with list data type, it gives a new perspective to deal with data storage and relevant manipulations for the list data type. From the the claim of statement to manipulating the elements inside of list, with manipulate between different list become one of the most important yet struggling experience with data operation. Throughout the examples and practices on the book, some of the aspects deservers heavy concern due to the astractness of the concept and the mathematical principle behind it, which largely increased the difficulty to grasp this chapter.
For instance, index always starts from 0, which means the first element has index 0. While doing the practices of loops, it is important to found where to put the upperlimit of the loop to make sure the variables to stay in the index range. 
Addtionally, while taking a data slice from the list, it is also important to figure out the closed interval and open interval, which at left and right repectively. For example, list[2:4]only contains elements with index with 2 and 3, without conclude 4 within the index. 
As for the most crucial part, when assigning a value to a certain variable with another variable, using copy functions or not always need to be concerned carefully.

# chapter 5

## question 1

In [199]:
{}

{}

## question 2

In [200]:
dict({'foo':42})

{'foo': 42}

## question 3

The list has an order while dictionary is not ordered

## question 4

In [202]:
spam={'bar': 100}
spam

{'bar': 100}

In [204]:
spam['foo']

KeyError: 'foo'

It gets an error

## question 5-6

Check whether the 'cat' is in spam.keys() or use spam.values()

In [208]:
spam={'cat':2,'DD':444}

In [209]:
'cat' in spam

True

In [210]:
'cat' in spam.keys()

True

In [211]:
'cat' in spam.values()

False

In [212]:
444 in spam.values()

True

## question 7

In [213]:
spam.setdefault('color', 'black')

'black'

## question 8

pprint.pprint()

## evaluation and reflection

In this chapter the methos of manipulating dictionary have been went through for a better understanding of dictionary and acquiring certain data. The chapter is straightforward for representing how dictionary system works, while there are several points that deserves to pay more attention. For example, while indexing a value of certain key there are two methods. On one hand is to use the dict.get() function, the other is just using dict[]. The differences between both methods is to focus on when the key that wanted to index does not exist, dict.get() will return Nonetype, beside it is possible to return certain value by dict.get(key,value). However while using dict[] will generate an error out of thr process.

# chapter 6

## question 1

It represents characters that difficult or impossible to input into the strings.

## question 2

\n stands for a new line, \t stands for a tab.

In [218]:
print(3,'\n',4)

3
 4

In [219]:
print(3,'\t',4)

3 	 4

## question 3

In [221]:
print('a\nb')

a
b

In [222]:
print('a\\nb')

a\nb

## question 4

Because teh single quote ' has already been used in Howl's

## question 5

Multiple line of strings

## question 6

In [223]:
'Hello, world!'[1]

'e'

In [224]:
'Hello, world!'[0:5]

'Hello'

In [225]:
'Hello, world!'[:5]

'Hello'

In [226]:
'Hello, world!'[3:]

'lo, world!'

## question 7

In [227]:
'Hello'.upper()

'HELLO'

In [228]:
'Hello'.upper().isupper()

True

In [230]:
'Hello'.upper().lower()

'hello'

In [231]:
'Hello'.upper().islower()

False

## question 8

In [232]:
'Remember, remember, the fifth of November.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'November.']

In [234]:
'Remember, remember, the fifth of November.'.split(',')

['Remember', ' remember', ' the fifth of November.']

In [239]:
'-'.join('There can be only one.'.split())

'There-can-be-only-one.'

In [240]:
'-'.join(['eee','eee'])

'eee-eee'

In [238]:
'-'.join([9,'eee'])

TypeError: sequence item 0: expected str instance, int found

## question 9

rjust(), ljust(), and center()

In [262]:
'hkiduhfiushflsu'.rjust(50)

'                                   hkiduhfiushflsu'

In [263]:
'hkiduhfiushflsu'.ljust(50,'2')

'hkiduhfiushflsu22222222222222222222222222222222222'

### question 10

lstrip() and rstrip()

In [275]:
'      hkiduhfiushflsu    '.lstrip()

'hkiduhfiushflsu    '

In [274]:
'      hkiduhfiushflsu    11111'.rstrip('1')

'      hkiduhfiushflsu    '

## evaluation and reflection

In this chapter text of the strings is the key aspect to focus on. For me personally I found this chapter quite useful due to its emphasize on effective text editing. These useful skills have vastly improved the speed of coding certain strings, while eliminating mistakes automatically. Manipulating the strings with automative instructions feels satiesfied with uncluttering the mistakes. 
Still there is a ket point that I found myself need to put more focus on: when join function all the elements in the list must be in the 'str'.